.h1{
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: auto;
}
.template{
    display: grid;
    grid-template-columns: auto auto ;
    border: 2px solid rgb(255, 0, 234);
    gap: 10px;
    padding: 20px;
    height: 500px;
    width: 300px;
    place-content: center;
}
.item-1{
    width: 100px;
    height: 200px;
    background-color: blue;
    flex: 1;
}
.item-2{
    width: 100px;
    height: auto;
    background-color: blue;
    grid-column: 2/4;
}
.item-3{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.item-4{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.item-5{
    width: 100px;
    height: 100px;
    background-color: blue;
    flex: 5;
}
.item-6{
    width: 100px;
    height: 100px;
    background-color: blue;
    flex: 6;
}
.flexbox{
    display: grid;
    grid-template-columns: auto auto ;
    border: 2px solid rgb(0, 255, 115);
    gap: 10px;
    padding: 20px;
    height: 500px;
    width: 300px;
    place-content: center;
}
.item-11{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 38, 0);
    flex: 1;
}
.item-12{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 94, 0);
    grid-column: 1/4;
}
.item-13{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 17, 0);
}
.item-14{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 102, 0);
}
.item-15{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 17, 0);
    flex: 5;
}
.item-16{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 115, 0);
    flex: 6;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid rgb(255, 0, 0);
    gap: 10px;
    padding: 20px;
    height: 500px;
    width: 300px;
    place-content: center;
}
.header{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
    flex: 1;
}
.article{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
    grid-column: 1/4;
}
.text1{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
}
.text2{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
}
.main{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
    flex: 5;
}
.footer{
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
    flex: 6;
}


